
html, body, body > div {
    min-height: 100%;
}

div.header {
    height: 80px;
    line-height: 80px;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}

div.header > div.logo > div {
    float: left;
}

div.header > div.logo > div.logoImg {
    height: 80px;
}

div.header > div.logo > div > p {
    font-size: 22px;
    margin-left: 20px;
}

div.header > div.logo > div > img {
    height: 80px;
}

div.header > div.login {
    overflow: hidden;
    float: right;
}

div.header > div.login > div {
    display: inline-block;
}

div.header > div.login > div > p {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

div.header > div.login > div > p > span {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

div.header > div.login > div > p.exit > span {
    background: url("../img/account/exit.png") no-repeat;
    background-size: 100%;
}

div.header > div.login > div > p.lock > span {
    background: url("../img/account/lock.png") no-repeat;
    background-size: 100%;
}

div.header > div.login > div > p.userImg > span {
    background: url("../img/account/user.png") no-repeat;
    background-size: 100%;
}

div.content {
    overflow: hidden;
}

div.content > div.menu {
    float: left;
    width: 230px;
    height: 100%;
    background: #ee2626;
}

div.content > div.menu > div > ul > li {
    border-bottom: 2px solid #fe3232;
    height: 60px;
    line-height: 60px;
}

div.content > div.menu > div > ul > li.liActive {
    background: #f46e31;
}

div.content > div.menu > div > ul > li > a {
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #d32222;
    color: #ffffff;
    padding-left: 50px;
    font-size: 18px;
}

div.content > div.menu > div > ul > li > a > span {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px;
}

div.content > div.menu > div > ul > li > a > span.account {
    background: url("../img/account/account.png") no-repeat;
}

div.content > div.menu > div > ul > li > a > span.design {
    background: url("../img/account/design.png") no-repeat;
}

div.content > div.menu > div > ul > li > a > span.basic {
    background: url("../img/account/basic.png") no-repeat;
}

div.content > div.menu > div > ul > li > a > span.order {
    background: url("../img/account/order.png") no-repeat;
}

div.content > div.menu > div > ul > li > a > span.entrepot {
    background: url("../img/account/entrepot.png") no-repeat;
}

/*三级菜单*/
div.content > div.navigation {
    width: 100%;
    float: left;
}

div.content > div.navigation > div {
    padding-top: 20px;
}

div.content > div.navigation > div > ul {
    overflow: hidden;
    border-bottom: 3px solid #ee2626;
}

div.content > div.navigation > div > ul > li {
    float: left;
    border-top: 2px solid #ee2626;
    border-left: 2px solid #ee2626;
    border-right: 2px solid #ee2626;
    margin-left: 30px;
    padding: 5px 15px;
}

div.content > div.navigation > div > ul > li.active {
    background: #ee2626;
}

div.content > div.navigation > div > ul > li.active > a {
    color: #ffffff;
}

div.content > div.navigation > div > ul > li:nth-child(1) {
    margin-left: 40px;
}

div.content > div.navigation > div > ul > li > a {
    font-size: 16px;
    color: #000;
}

/*选项卡内容区域*/
div.content > div.details {
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

div.content > div.details > div {
    display: none;
    height: 100%;
}

div.content > div.details > div.present {
    display: block;
}

div.content > div.details > div > div {
    height: 100%;
}

div.content > div.details > div > div > ul {
    padding: 40px 0 0 170px;
}

/*车辆品牌设置*/
div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent {
    border: 1px solid #ccc;
    margin-top: 10px;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandTitle > p {
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandTitle > p > span {
    width: 25%;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div.vehicleBrandAdd {
    border: none;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div > p {
    width: 68%;
    text-align: right;

}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div > p > select {
    width: 100px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div.vehicleBrandList {
    height: 600px;
    overflow: auto;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div.vehicleBrandList > ul > li {
    height: 85px;
    line-height: 85px;
    background: #eee;
    margin: 5px 0;
    display: none;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div.vehicleBrandList > ul > li > div {
    overflow: hidden;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div.vehicleBrandList > ul > li > div > div {
    width: 25%;
    float: left;
    text-align: center;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div.vehicleBrandList > ul > li > div > div > img {
    vertical-align: middle;
}

div.content > div.details > div.vehicleBrand > div > div > div.vehicleBrandContent > div.vehicleBrandList > ul > li > div > div > a > span.vehicleBrandRemove {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../img/basic/remove.png") no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
div.content>div.details>div.vehicleBrand>div>div>div.vehicleBrandContent>div.vehicleBrandList>ul>li>div>div>a{
    display: inline-block;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
}
div.content>div.details>div.vehicleBrand>div>div>div.vehicleBrandContent>div.vehicleBrandList>ul>li>div>div>a>span{
    margin-right: 3px;
}
div.content>div.details>div.vehicleBrand>div>div>div.vehicleBrandContent>div.vehicleBrandAdd>div{
    background: #eeeeee;
}
div.content>div.details>div.vehicleBrand>div>div>div.vehicleBrandContent>div.vehicleBrandAdd>div>a>p{
    color: #000;

}


















div.addHtml,
div.redact {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 100;
    position: absolute;
    top: 0;
    display: none;
}

div.addHtml > div,
div.redact > div {
    position: relative;
    height: 100%;
}

div.addHtml > div > div,
div.redact > div > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    border-top: 10px solid #ee2626;
    border-left: 1px solid #ee2626;
    border-right: 1px solid #ee2626;
    border-bottom: 1px solid #ee2626;
    box-sizing: border-box;
    padding: 10px 20px;
}

div.addHtml > div > div > ul > li,
div.redact > div > div > ul > li {
    margin-top: 10px;
}
div.addHtml > div > div > ul > li >div.brandLogo,
div.redact > div > div > ul > li >div.brandLogo{
    text-align: center;
}
div.addHtml > div > div > ul > li >div,
div.redact > div > div > ul > li >div{
    text-align: left;
}
div.addHtml > div > div > ul > li >div>p,
div.redact > div > div > ul > li >div>p{
    text-align: left;
}
div.addHtml > div > div > ul > li > h3,
div.redact > div > div > ul > li > h3,
div.addHtml > div > div > ul > li > button,
div.redact > div > div > ul > li > button {
    text-align: center;
}

div.addHtml > div > div > ul > li.addBtn,
div.redact > div > div > ul > li.addBtn {
    text-align: center;
}

div.addHtml > div > div > ul > li > div >  input,
div.redact > div > div > ul > li > div > input {
    background: #cccccc;
    border: none;
    padding-left: 10px;
}

div.addHtml > div > div > ul > li > div > span,
div.redact > div > div > ul > li > div > span {
    vertical-align: top;
}

div.addHtml > div > div > ul > li > div > p > input.trafficName,
div.redact > div > div > ul > li > div > p > input.trafficName {
    width: 63%;
}

div.addHtml > div > div > ul > li > div > img,
div.redact > div > div > ul > li > div > img {
    width: 150px;
    height: 150px;
    margin-top: 5px;
}

div.addHtml > div > div > ul > li > button:nth-child(1),
div.redact > div > div > ul > li > button:nth-child(1),
{
    margin-right: 20px;
}

div.addHtml > div > div > ul > li > button,
div.redact > div > div > ul > li > button {
    background: #ee2626;
    border: none;
    cursor: pointer;
    color: #FFF
}

div.addHtml > div > div > ul > li > div > p.files,
div.redact > div > div > ul > li > div > p.files {
    text-align: center;
}

div.addHtml > div > div > ul > li > div > p.files > input,
div.redact > div > div > ul > li > div > p.files > input {
    background: transparent;
}